<!-- Sidebar Widgets Column -->
{% set user = app.user %}


<nav class="bd-links collapse show" id="bd-docs-nav"><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.0/getting-started/introduction/">
        Getting started
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.0/getting-started/introduction/">
              Introduction
            </a></li><li>
            <a href="/docs/4.0/getting-started/download/">
              Download
            </a></li><li>
            <a href="/docs/4.0/getting-started/contents/">
              Contents
            </a></li><li>
            <a href="/docs/4.0/getting-started/browsers-devices/">
              Browsers &amp; devices
            </a></li><li>
            <a href="/docs/4.0/getting-started/javascript/">
              JavaScript
            </a></li><li>
            <a href="/docs/4.0/getting-started/theming/">
              Theming
            </a></li><li>
            <a href="/docs/4.0/getting-started/build-tools/">
              Build tools
            </a></li><li>
            <a href="/docs/4.0/getting-started/webpack/">
              Webpack
            </a></li><li>
            <a href="/docs/4.0/getting-started/accessibility/">
              Accessibility
            </a></li></ul>
    </div><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.0/layout/overview/">
        Layout
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.0/layout/overview/">
              Overview
            </a></li><li>
            <a href="/docs/4.0/layout/grid/">
              Grid
            </a></li><li>
            <a href="/docs/4.0/layout/media-object/">
              Media object
            </a></li><li>
            <a href="/docs/4.0/layout/utilities-for-layout/">
              Utilities for layout
            </a></li></ul>
    </div><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.0/content/reboot/">
        Content
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.0/content/reboot/">
              Reboot
            </a></li><li>
            <a href="/docs/4.0/content/typography/">
              Typography
            </a></li><li>
            <a href="/docs/4.0/content/code/">
              Code
            </a></li><li>
            <a href="/docs/4.0/content/images/">
              Images
            </a></li><li>
            <a href="/docs/4.0/content/tables/">
              Tables
            </a></li><li>
            <a href="/docs/4.0/content/figures/">
              Figures
            </a></li></ul>
    </div><div class="bd-toc-item active">
      <a class="bd-toc-link" href="/docs/4.0/components/alerts/">
        Components
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.0/components/alerts/">
              Alerts
            </a></li><li>
            <a href="/docs/4.0/components/badge/">
              Badge
            </a></li><li>
            <a href="/docs/4.0/components/breadcrumb/">
              Breadcrumb
            </a></li><li>
            <a href="/docs/4.0/components/buttons/">
              Buttons
            </a></li><li>
            <a href="/docs/4.0/components/button-group/">
              Button group
            </a></li><li>
            <a href="/docs/4.0/components/card/">
              Card
            </a></li><li>
            <a href="/docs/4.0/components/carousel/">
              Carousel
            </a></li><li>
            <a href="/docs/4.0/components/collapse/">
              Collapse
            </a></li><li>
            <a href="/docs/4.0/components/dropdowns/">
              Dropdowns
            </a></li><li>
            <a href="/docs/4.0/components/forms/">
              Forms
            </a></li><li>
            <a href="/docs/4.0/components/input-group/">
              Input group
            </a></li><li>
            <a href="/docs/4.0/components/jumbotron/">
              Jumbotron
            </a></li><li>
            <a href="/docs/4.0/components/list-group/">
              List group
            </a></li><li>
            <a href="/docs/4.0/components/modal/">
              Modal
            </a></li><li>
            <a href="/docs/4.0/components/navs/">
              Navs
            </a></li><li class="active bd-sidenav-active">
            <a href="/docs/4.0/components/navbar/">
              Navbar
            </a></li><li>
            <a href="/docs/4.0/components/pagination/">
              Pagination
            </a></li><li>
            <a href="/docs/4.0/components/popovers/">
              Popovers
            </a></li><li>
            <a href="/docs/4.0/components/progress/">
              Progress
            </a></li><li>
            <a href="/docs/4.0/components/scrollspy/">
              Scrollspy
            </a></li><li>
            <a href="/docs/4.0/components/tooltips/">
              Tooltips
            </a></li></ul>
    </div><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.0/utilities/borders/">
        Utilities
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.0/utilities/borders/">
              Borders
            </a></li><li>
            <a href="/docs/4.0/utilities/clearfix/">
              Clearfix
            </a></li><li>
            <a href="/docs/4.0/utilities/close-icon/">
              Close icon
            </a></li><li>
            <a href="/docs/4.0/utilities/colors/">
              Colors
            </a></li><li>
            <a href="/docs/4.0/utilities/display/">
              Display
            </a></li><li>
            <a href="/docs/4.0/utilities/embed/">
              Embed
            </a></li><li>
            <a href="/docs/4.0/utilities/flex/">
              Flex
            </a></li><li>
            <a href="/docs/4.0/utilities/float/">
              Float
            </a></li><li>
            <a href="/docs/4.0/utilities/image-replacement/">
              Image replacement
            </a></li><li>
            <a href="/docs/4.0/utilities/position/">
              Position
            </a></li><li>
            <a href="/docs/4.0/utilities/screenreaders/">
              Screenreaders
            </a></li><li>
            <a href="/docs/4.0/utilities/sizing/">
              Sizing
            </a></li><li>
            <a href="/docs/4.0/utilities/spacing/">
              Spacing
            </a></li><li>
            <a href="/docs/4.0/utilities/text/">
              Text
            </a></li><li>
            <a href="/docs/4.0/utilities/vertical-align/">
              Vertical align
            </a></li><li>
            <a href="/docs/4.0/utilities/visibility/">
              Visibility
            </a></li></ul>
    </div><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.0/extend/approach/">
        Extend
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.0/extend/approach/">
              Approach
            </a></li><li>
            <a href="/docs/4.0/extend/icons/">
              Icons
            </a></li></ul>
    </div><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.0/migration/">
        Migration
      </a>

      <ul class="nav bd-sidenav"></ul>
    </div><div class="bd-toc-item">
      <a class="bd-toc-link" href="/docs/4.0/about/overview/">
        About
      </a>

      <ul class="nav bd-sidenav"><li>
            <a href="/docs/4.0/about/overview/">
              Overview
            </a></li><li>
            <a href="/docs/4.0/about/brand/">
              Brand
            </a></li><li>
            <a href="/docs/4.0/about/license/">
              License
            </a></li><li>
            <a href="/docs/4.0/about/translations/">
              Translations
            </a></li></ul>
    </div></nav>




<div>
	





<!-- Categories Widget -->
<div class="card my-4">
	<h5 class="card-header">Categories</h5>
	<div class="card-body">
		<div class="row">
			<div class="col-lg-6">
				<ul class="list-unstyled mb-0">
					<li><a href="#">Web Design</a></li>
					<li><a href="#">HTML</a></li>
					<li><a href="#">Freebies</a></li>
				</ul>
			</div>
			<div class="col-lg-6">
				<ul class="list-unstyled mb-0">
					<li><a href="#">JavaScript</a></li>
					<li><a href="#">CSS</a></li>
					<li><a href="#">Tutorials</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="card my-4">
	<div class="card-body">

		<h5>Do you want to help CAcert?</h5>
		<p>We are facing an uphill battle to fund this service and could
			do with your help?</p>
		<p>If you can, please donate.</p>

		<ul class="donation">
			<li><b>AU$50</b> per year for this button
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick"> <input
						type="image" src="{{ asset('/images/payment2a.png') }}"
						name="submit" alt="PayPal"> <input type="hidden"
						name="encrypted"
						value="-----BEGIN PKCS7-----MIIHsQYJKoZIhvcNAQcEoIIHojCCB54CAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBxGkBs/mmEZRh6K8mwoFJtMp+osc6AkkbKTcC9vaFbZNIDEYXCuhGWEoAZDXXZDO+AhMezeG0ug87wjDMKFkI5g5ma8uGlhQvZ6Qu1Ra8zeL9iUUk6uPpiq1h2kjD0C9CgoZmrHpKB+T8+EXFG5PISbwqqoE8OOavsxMNGhTzxJzELMAkGBSsOAwIaBQAwggEtBgkqhkiG9w0BBwEwFAYIKoZIhvcNAwcECPQ/Y13nrcTCgIIBCOLwLR4pRGnq0o5O9jGmhbF2+u56cBWCoRbZGcgoQqHXgdPKTS4EkXmu1wvLa5Y4XTgL6HUVavYViJAONgLkVyktAHlkl5XPycaAuTL4NyXCJf1VjscXS7tPv0CZ8w2JU5MlzsQ8w0UTQF0+4WDpcsj+klTlO5KyyWMaScZBsziGndfeyfO6Navv3Z5SiHb92D/i9Xf4wZaex6pX3u14WPsczTkUpne6qXmgwPS7jG+oPjWPrPRCHpe/wn3P/AC1WyHzr4X8YxR9+2gbjmyE+2RwS5vqFKcApNxuoAAtLoS2IKGg872PJUctAZEoPt2FCwisFwf170tc9gb1dtRe6KymAMRr6TDM6aCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTA4MDUwMjA0NDIyOFowIwYJKoZIhvcNAQkEMRYEFHfXhKQoFxBqqG6q/87VmWf4364dMA0GCSqGSIb3DQEBAQUABIGAwPUhL0gvCMysU8a9lqGuYdNm54FYsogI2LXv6vNHKc5/xTHJ65LSV8mhmyWwxL8fUDu8IHOZbccSipiUaQTsPr57tRrwmXOV+7VC/NIciK1ulwvWwazcvP96fdr9B5OqxjxDz8AsEcXnRjFm4LehsdnP9Z9B/Z9/nwT6htjxyO0=-----END PKCS7-----">
				</form></li>

			<li>One off donation for this button whatever you can afford to
				help
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
					<input type="hidden" name="cmd" value="_s-xclick"> <input
						type="image" src="/images/payment2a.png" name="submit"
						alt="Make payments with PayPal"> <input type="hidden"
						name="encrypted"
						value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCA1pOad7SD8OtSdvHxI3CItmi2sb2eq/1UZbQboNkJTwlaTbTZfoWzBuFmimBR/Qz21Z+L7wFa7XxfhwRLC4V/X4uTJVAIDaKsdTXFNx51EMu+LyiP1O+7GxcdNR7njwvndIaHN0HZIdidpG8jFPP/8ZsLaPe2/Dh2S7344wSuUDELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIYn0dsk7tIRmAgaBNejWqE2RRr+Tsb3fVlcbuG98Bq+zaMO5g8n8i3DnBjIoSJNb+ZuSj53oWrh/+HCY4EY1Rg3qHiUSMOS/o9k75UR7C+ez0R9tmZ2eQrdxlqTVuvENRA0W5z6iTJYog5XhMoKScOFUBaIr9zxjETUY2Y1V3X8qRFIe0YWlYRYbePs2p/IDatirUFhOJSff0ancU2GZULRy0PiZHtzbm8Gy/oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMDcxMTAzMDcxMDI1WjAjBgkqhkiG9w0BCQQxFgQU8tPwGUvNb8eYe8Pfhe9YutgXm/YwDQYJKoZIhvcNAQEBBQAEgYBpwhhgz5ED5qxBosfMaifzIr2anV5ScQqqQbC1hphWBQ4e2PT5+TQWCcQkrTh2UTp3vC81Y8vYZ+fussa+zPBE8DmeFDfzpLJo+TQHZUiKxWUDu6drv3o3mV3VjAkaqIhAdubhEOxj2bbKND3IRT1lfIVVSUipndKzRjukZJK39A==-----END PKCS7-----">
				</form>
			</li>

			<li>
				<p>If you are located in Australia, use bank transfer instead.</p>

				<p>CAcert bank account details:</p>
				<p>
					<b>Account Name:</b> CAcert Inc<br> <b>SWIFT:</b> WPACAU2S<br>
					<b>BSB:</b> 032073</br> <b>Account No.:</b> 180264
				</p>
			</li>

		</ul>

	</div>
</div>
</div>