{% extends 'base.html.twig' %}
{% block title %}CAcert{% endblock %}
{% block body %}
    <div class="row">
       
       {# <div class="col-md-4">
                {% block sidebar %}
                {% include 'common/sidebar.html.twig' %}
                {% endblock %}
        </div>
        #}

        <div class="col-12">
                {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}