{% extends 'base2columns.html.twig' %}
{% block title %}CaCert{% endblock %}
{% block content %}
    <div class="card mb-4 my-4">
        <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h2 class="text-primary">CAcert.org Mission Statement</h2>
                <p>To create a Non-Profit Certificate Authority; an alternative to the commercial CAs.</p>
            </div>

            <div class="col-12">
                <h2 class="text-primary">Who?</h2>
                <p>
                    Core members of CAcert generally have a strong information technology and security background, and a stronger desire to give back to the community. Many are just the users of the system who by just making use of the project contribute to the wider community by word-of-mouth.
                </p>
            </div>

            <div class="col-12">
                <h2 class="text-primary">Why?</h2>
                <p>
                    Many people are currently dissatisfied with the commercial offerings. Many people wish only to connect or share with people they know, or simply secure their webmail from people potentially sniffing their traffic. Why subscribe to a service that is not structured to handle this, and furthermore charges a king's ransom for the privilege? CAcert Inc., as a community-based project, is not driven by profits - it is driven by the community's desire for privacy and security.

                </p>
            </div>

            <div class="col-12">
                <h2 class="text-primary">How?</h2>
                <p>Based on OpenSSL, PHP, a little bit of C and MySQL, we were able to build not only a free certificate authority that could verify your email address or domain, but actually build in a highly effective trust model. Our model goes further than that used by some commercial CAs to prove your identity.
                </p>
            </div>

            <div class="col-12">
                <h2 class="text-primary">When and Where?</h2>
                <p>
                    Right now it's happening all around you - there are secured websites and email protocols being protected and trusted by people, signed by CAcert.

                </p>
            </div>

            <div class="col-12">
                <h2 class="text-primary">So what can I do to help the cause?</h2>
                <p>
                    The simplest and most effective thing you can do is spread the word, by telling your friends, colleagues and relatives about us and join.

                </p>
            </div>

        </div>
    </div>
    </div>

{% endblock %}